a:active, a:hover {
    color: #00a0d2;
}

.smartlink-wrapper nav.smartlink-nav-tab-wrapper {
    margin: 1.5em 0 1em;
    border-bottom: 1px solid #ccc;
}

input.regular-text, textarea {
    width: 25em;
}

.smartlink-wrapper .wp-badge.smartlink-badge {
    background-image: url( '../images/badge.png' );
    color: #d71c25;
    background-size: 75% 50%;
    background-color: #fff;
    width: 160px;
}

.smartlink-wrapper.about-wrap .feature-section p {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wp-core-ui .smartlink-wrapper .button-primary.focus,
.wp-core-ui .smartlink-wrapper .button-primary.hover,
.wp-core-ui .smartlink-wrapper .button-primary:focus,
.wp-core-ui .smartlink-wrapper .button-primary:hover {
    background: rgba(219, 68, 55, 0.76);
    border-color: rgba(219, 68, 55, 0.76);
    color: #fff;
}

.wp-core-ui .smartlink-wrapper .button-primary {
    background: #db4437;
    border-color: #db4437 #db4437 #db4437;
    -webkit-box-shadow: 0 1px 0 #db4437;
    box-shadow: 0 1px 0 #db4437;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #db4437,1px 0 1px #db4437,0 1px 1px #db4437,-1px 0 1px #db4437;
}

.wp-core-ui .smartlink-wrapper .button-success {
    background: #8BC34A;
    border-color: #8BC34A #8BC34A #8BC34A;
    -webkit-box-shadow: 0 1px 0 #8BC34A;
    box-shadow: 0 1px 0 #8BC34A;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #8BC34A,1px 0 1px #8BC34A,0 1px 1px #8BC34A,-1px 0 1px #8BC34A;
}

.smartlink-wrapper.about-wrap .changelog {
    margin-bottom: 0px;
}

.smartlink-wrapper .subsubsub {
    margin: -8px 0 0;
}

/* Mobile */
@media screen and (max-width: 782px) {

}