form.variations_form .variations {
    /*display: none;*/
}

#view-imprinting-details {
    width: 505px;
    padding: 30px;
    display: none;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

span.view-modal-close {
    position: absolute;
    top: 3px;
    right: 6px;
    color: #e31616cc;
    cursor: pointer;
}

a.view-detail-button {
    width: auto !important;
    padding: 0 10px !important;
    height: 25px !important;
    line-height: 1.67 !important;
    border-radius: 8px !important;
    font-size: 13px !important;
}